body
  background-color: #F4F4EB
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin: -1px
a
  color: black

.wrapper
  margin: 15px
  font-size: 10px
  overflow: initial

.header
  height: 30px
  width: 100%
  background-color: #FA680F
  padding: auto;

img
  border: solid;
  border-color: #fff;
  border-width: 1px;
