body {
  background-color: #f4f4eb;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: -1px;
}
a {
  color: #000;
}
.wrapper {
  margin: 15px;
  font-size: 10px;
  overflow: initial;
}
.header {
  height: 30px;
  width: 100%;
  background-color: #fa680f;
}
img {
  border: solid;
  border-color: #fff;
  border-width: 1px;
  margin: 5px;
}
